node_modules
pnpm-lock.yaml

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rizom
.rizom
.cache
db
app.generated.d.ts
src/lib/schema
src/routes/(rizom)
rizom.config.browser.js
